# Doucument Search Application
DocSearch_Documentation.md
Local_DocSearch_App_Steps.md
Local_Document_SearchApp.md
Windows-Setup-for-Local-Document-search.md
# SQLite database file
database/documents.db